.main-menu li a {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/네비메뉴.png') !important;
}

.menu-area a {
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/사이드메뉴.png') !important;
}

.mypage-btn a {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/메뉴.png') !important;
	}
